{% extends "base.html" %}
{% load fontawesome_5 %}

{% load static %}

{% block content %}

<div style="height: 500px;" class="container">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-6 col-lg-4 col-10 bg-light border rounded">

            {% if company.is_licensed %}
            <span class="badge badge-pill badge-primary text-white">{% fa5_icon 'check' 'fas' %}</span>
            {% endif %}
            <h6 class="text-left">{{ company.name }}</h6>
            <p>{{ company.city.name }}, {{ company.city.region.name }}</p>
            <p>{{ company.email }}</p>
        </div>
    </div>
</div>

{% endblock %}
    