{% load fontawesome_5 %}

<a class="float-right" href="{% url 'companies:experience-create' %}">
    {% fa5_icon 'plus' 'fas' %}
</a>
<h4 class="mt-4 mb-4">Experience</h4>

{% for e in user.experience_set.all %}
<a class="edit-btn" href="{% url 'companies:experience-update' e.pk %}">
    {% fa5_icon 'pencil-alt' 'fas' %}
</a>
<h6 class="text-left">
    <a href="{{ e.get_absolute_url }}">{{ e }}</a>
</h6>
<h6 class="text-left mt-n1">
    <p>{{ e.company.name }}</p>
</h6>

<h6 class="text-left mt-n1">
    {{ e.company.city.name }}, {{ e.company.city.region.name }}
</h6>
<p class="text-secondary text-left mt-n1 mb-4">{{ e.date_from|date:"m/d/Y" }} to {{ e.date_to|date:"m/d/Y" }}</p>
{% endfor %}
