{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load fontawesome_5 %}

{% block content %}
<div style="height: 500px;" class="container">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-6 col-lg-4 col-10 bg-light border rounded">
            {% include 'django_messages.html' %}
            <!-- A hack for sure. Need to change this, edit-btn not horzontally aligned.-->
            <hr style="visibility: hidden;"/>
            {% include "accounts/partials/contact.html" %}
            <hr/>
            {% include "accounts/partials/about.html" %}
            <hr />
            {% include "accounts/partials/skills.html" %}
            <hr/>
            {% include "accounts/partials/experience.html" %}
        </div>
    </div>
</div>
{% endblock %}