{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load fontawesome_5 %}

{% block content %}
<div style="height: 500px;" class="container">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-6 col-lg-4 col-10 bg-light border rounded">
            {% include 'django_messages.html' %}
            <!-- A hack for sure. Need to change this, edit-btn not horzontally aligned.-->
            <hr style="visibility: hidden;"/>
            <a href="{% url 'accounts:profile_update' user.unique_id %}" class="edit-btn">
                {% fa5_icon 'pencil-alt' 'fas' %}
            </a>
            <h4 class="mt-4 mb-4">Profile</h4>
            <h6 class="text-left">{{ user }}</h6>
            <h6 class="text-left">{{ user.first_name }} {{ user.last_name }}</h6>
            <hr/>
            {% include "accounts/partials/skills.html" %}
        </div>
    </div>
</div>
{% endblock %}