.edit-btn {
    background-color: #dbe0e6;
    color: black !important;
    padding: 0.5em;
    float: right;
    border-radius: 50%;
    font-size: 1.2em;
}

.contact-list {
    list-style: none;
}


